@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;

  color: #ebe7ef;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  /* min-height: 100rem; */
}

body {
  margin: 0;
  padding: 2rem;
  /* background: linear-gradient(180deg, #22182f 0%, #2c2437 100%); */
  background-color: #000000;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
body {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000000;
  display: flex;
  flex-wrap: wrap;
}

body section {
  position: relative;
  width: 100px;
  height: 100px;
  background: #00FF7F;
  opacity: 0%;
}

.root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}
header {
  margin: 2rem 0;
  text-align: center;
}

header img {
  width: 3rem;
  height: 3rem;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.6));
}

header h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 0.6rem;
  margin: 0;
  text-transform: uppercase;
  background: linear-gradient(90deg, #0FFF50 40%, #009E60 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.app {
  width: 100%;
}
#last-try {
  max-width: 40rem;
  margin: 2rem auto;
  font-size: 0.8rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

#last-try h2 {
  margin: 0;
  font-size: 1rem;
  color: #9c7fd3;
  text-transform: uppercase;
}

#last-try ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
  font-size: 1.25rem;
  color: #a690c5;
}

#quiz {
  max-width: 50rem;
  margin: auto;
  padding: 2rem;
  background: linear-gradient(180deg, #009E60 0%, #0FFF50 100%);
  border-radius: 8px;
  /* box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.6); */
  box-shadow: 1px 1px 8px 4px rgba(12, 5, 32, 0.6);
  text-align: center;
  transition: all;
    transition-duration: 100ms;
}

#question-overview {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.8rem;
  color: #0FFF50;
  margin: 0;
  text-transform: uppercase;
  transition: all;
    transition-duration: 100ms;
}

#question progress {
  width: 50%;
  height: 0.5rem;
  border-radius: 24px;
  background: #9e5ef8;
  margin: 0;
}

#question progress::-webkit-progress-bar {
  background: #000000;
  border-radius: 24px;
}

#question progress::-webkit-progress-value {
  background: #00FF7F;
  border-radius: 24px;
}

#question h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0.5rem 0 2.5rem 0;
  color: #000000;
}

#answers {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.answer {
  width: 90%;
  margin: 0 auto;
}

.answer button {
  display: inline-block;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.9rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 24px;
  /* background: linear-gradient(180deg, #81f1fb 0%, #73d2f8 100%); */
  background: #6cb7f5;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.answer button:hover,
.answer button:focus {
  /* background: linear-gradient(180deg, #bf48f6 0%, #9b50f2 100%); */
  background: #054e37;
  color: white;
  /* box-shadow: 0 0 4px 2px rgba(255, 200, 60, 0.8); */
}
#skip-action {
  margin-top: 2rem;
}

#skip-action button {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
  border: none;
  background: transparent;
  color: #9082a3;
  cursor: pointer;
}

#skip-action button:hover,
#skip-action button:focus {
  color: #c7bfd6;
}

#summary {
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
  background: linear-gradient(180deg, #009E60 0%, #0FFF50 100%);
    color: #04350a;
  border-radius: 8px;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.6);
  animation: slide-in-from-bottom 0.7s ease-out;
}

#summary img {
  display: block;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  margin: 0 auto 1rem auto;
  padding: 1rem;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.6));
  border: 2px solid #00FF7F;
  border-radius: 50%;
  background: #0FFF50;
}

#summary h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  color: #0f610f;
}

#summary ol {
  list-style: none;
  margin: 2rem auto;
  padding: 0;
  text-align: center;
}

#summary li {
  background-color: #04350a;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#summary h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: 009E60;
  color: #d8cde8;
  border-radius: 50%;
}

#summary .question {
  margin: 0.25rem 0;
  font-size: 1rem;
  color: #30273a;
}

#summary .user-answer {
  margin: 0.25rem 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  color: #251e2f;
}

#summary-stats {
  display: flex;
  gap: 3rem;
  width: 60%;
  margin: 2rem auto;
  padding-bottom: 2rem;
  border-bottom: 2px solid #594276;
}

#summary-stats p {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
}

#summary-stats .number {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3rem;
  color: #594276;
}

#summary-stats .text {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #30273a;
  margin-top: -0.7rem;
  margin-left: 0.2rem;
  letter-spacing: 0.1rem;
}
.card {
  width: 90%;
  height: 90%;
  perspective: 1000px;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 800ms;
}

.card-front {
  background: #009E60;
  display: flex;
  align-items: center;
  border: 10px solid #000000;
  border-radius: 10px;
  justify-content: center;
  font-size: 30px;
  transform: rotateY(0deg);
}

.card-back {
  background-color: blueviolet;
  display: flex;
  align-items: center;
  border: 10px solid #000000;
  border-radius: 10px;
  justify-content: center;
  font-size: 30px;
  transform: rotateY(180deg);
}

@keyframes slide-in-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
